{
  "plugins": [
    "babel-plugin-styled-components",
    "@loadable/babel-plugin",
    "@babel/plugin-transform-runtime", // нужен для оптимизации импортом мелких фрагметов
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties"],
    "babel-plugin-parameter-decorator",
    [
      "module-resolver", // нужен для резолва алиасов на серве
      {
        "alias": {
          "@stores": "./_client/data/stores",
          "@client": "./_client",
          "@pages": "./_client/pages",
          "@components": "./_client/components",
          "@utils": "./_client/utils",
          "@data": "./_client/data",
          "@services": "./_client/services",
          "@ui": "./_client/ui",
          "@config": "./_client/config",
          "@specs": "./_client/specs",
          "@translations": "./_client/translations",
          "@style": "./_client/style",
          "@icons": "./_client/ui/_misc/icons",
          "@hooks": "./_client/hooks",
          "@api": "./_client/api",
          "@requests": "./_client/api/requests"
        }
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/react",
    "@babel/typescript"
  ]
}
